$form-bg: #2c3e50;
$alt: #3498db;

* {
  padding: 0;
  margin: 0;
}

h1,
h2,
h3,
h4,
h5,
h6,
span,
p {
  font-family: 'Nunito', sans-serif;
}

body#body-bg {
  background: #ecf0f1;

  #form {
    width: 300px;
    height: 400px;
    background: $form-bg;
    position: absolute;
    left: 50%;
    right: 50%;
    top: 50%;
    bottom: 50%;
    transform: translate(-50%, -50%);
    border-radius: 8px;
    -webkit-box-shadow: 6px 10px 54px -3px rgba(0, 0, 0, 0.75);
    -moz-box-shadow: 6px 10px 54px -3px rgba(0, 0, 0, 0.75);
    box-shadow: 6px 10px 54px -3px rgba(0, 0, 0, 0.75);
    padding: 10px;

    .title {
      width: 100%;

      h4 {
        text-align: center;
        font-size: 28px;
        color: #fff;
      }
    }

    .result-wrapper {
      margin-bottom: 10px;
      width: 100%;
      display: flex;
      span.result {
        width: 90%;
        height: 30px;
        background: darken(#2c3e50, 5);
        color: #fff;
        padding: 3px;
      }
      button {
        width: 10%;
        height: 30px;
        border: none;
        background: $alt;
        transition: 0.3s ease;

        &:hover {
          background: darken($alt, 15);
          transition: 0.3s ease;
        }
        i {
          color: #fff;
        }
      }
    }
    .criteria-row {
      width: 100%;
      display: flex;
      justify-content: space-between;
      padding: 4px;
      input.length-input {
        width: 35px !important;
        border: $alt 2px solid;
        background: #fff;
        border-radius: 4px;
        padding: 4px;
      }
      .criteria-title {
        h6 {
          font-size: 16px;
          color: #fff;
        }
      }
    }
    button.submit-btn {
      margin-top: 10px;
      width: 100%;
      border-radius: 6px;
      border: $alt 2px solid;
      height: 30px;
      background: $alt;
      color: #fff;
      &:hover {
        background: darken($alt, 10);
      }
    }
  }
}
