* {
  padding: 0;
  margin: 0;
}

h1,
h2,
h3,
h4,
h5,
h6,
span,
p {
  font-family: "Nunito", sans-serif;
}

body#body-bg {
  background: #ecf0f1;
}
body#body-bg #form {
  width: 300px;
  height: 400px;
  background: #2c3e50;
  position: absolute;
  left: 50%;
  right: 50%;
  top: 50%;
  bottom: 50%;
  transform: translate(-50%, -50%);
  border-radius: 8px;
  -webkit-box-shadow: 6px 10px 54px -3px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 6px 10px 54px -3px rgba(0, 0, 0, 0.75);
  box-shadow: 6px 10px 54px -3px rgba(0, 0, 0, 0.75);
  padding: 10px;
}
body#body-bg #form .title {
  width: 100%;
}
body#body-bg #form .title h4 {
  text-align: center;
  font-size: 28px;
  color: #fff;
}
body#body-bg #form .result-wrapper {
  margin-bottom: 10px;
  width: 100%;
  display: flex;
}
body#body-bg #form .result-wrapper span.result {
  width: 90%;
  height: 30px;
  background: #233140;
  color: #fff;
  padding: 3px;
}
body#body-bg #form .result-wrapper button {
  width: 10%;
  height: 30px;
  border: none;
  background: #3498db;
  transition: 0.3s ease;
}
body#body-bg #form .result-wrapper button:hover {
  background: #1d6fa5;
  transition: 0.3s ease;
}
body#body-bg #form .result-wrapper button i {
  color: #fff;
}
body#body-bg #form .criteria-row {
  width: 100%;
  display: flex;
  justify-content: space-between;
  padding: 4px;
}
body#body-bg #form .criteria-row input.length-input {
  width: 35px !important;
  border: #3498db 2px solid;
  background: #fff;
  border-radius: 4px;
  padding: 4px;
}
body#body-bg #form .criteria-row .criteria-title h6 {
  font-size: 16px;
  color: #fff;
}
body#body-bg #form button.submit-btn {
  margin-top: 10px;
  width: 100%;
  border-radius: 6px;
  border: #3498db 2px solid;
  height: 30px;
  background: #3498db;
  color: #fff;
}
body#body-bg #form button.submit-btn:hover {
  background: #217dbb;
}

/*# sourceMappingURL=app.css.map */
